* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Courier New", Courier, monospace;
  overflow-x: hidden;
}
nav {
  display: flex;
  background-color: teal;
  justify-content: space-around;
  /* padding: 20px 0; */
  height: 50px;
  align-items: center;
  color: aqua;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav .img {
  letter-spacing: 3px;
  font-size: 0.8em;
}
nav ul li a {
  color: aqua;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
  font-size: 0.8em;
}
nav ul li a:hover {
  color: rgb(12, 47, 245);
}

/* menu */
.menu {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu span {
  display: block;
  width: 29px;
  height: 5px;
  background-color: aqua;
  border-radius: 5px;
  transition: all 0.4s;
}
.menu input {
  position: absolute;
  width: 40px;
  height: 28px;
  left: -5px;
  top: -3px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}

/* menu animasi */
.menu span:nth-child(2) {
  transform-origin: 0 0;
}
.menu span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu input:checked ~ span:nth-child(2) {
  background-color: white;
  transform: rotate(45deg) translate(-2px, -2px);
  /*  */
}

.menu input:checked ~ span:nth-child(4) {
  background-color: white;
  transform: rotate(-45deg) translate(-1px, 0);
  /*  */
}
.menu input:checked ~ span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}
/* ukuran table */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}
/* ukuran mobile */
@media screen and (max-width: 576px) {
  .menu {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: teal;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0;
  }
  nav ul.slide {
    opacity: 1;
    transform: translateX(0);
    position: fixed;
  }
}
