// Variable

// $warna-utama: salmon;
// $warna-tes: green;
// $warna-bd: blue;

// .container {
//   width: 800px;
//   margin: auto;
//   background-color: $warna-bd;
//   box-sizing: border-box;
//   .header {
//     width: 400px;
//     margin: auto;
//     padding: 12px;

//     background-color: $warna-utama;
//   }
// }

$color: (
  "merah": red,
  "biru": blue,
  "abu-abu": gray,
);
.container {
  width: 800px;
  margin: auto;
  background-color: map-get($map: $color, $key: "abu-abu");
  .header {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    color: map-get($map: $color, $key: "biru");
    background-color: map-get($map: $color, $key: "merah");
  }
}
